<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <div>
        <label for="input">Enter your phrase:</label>
        <input type="text" name="user_phrase" id="user_phrase">
      </div>
      <input type="submit" id="Submit" value="submit">
    </form>
  
  </body>
</html>